.sidebar {
  background-color: rgba(0, 0, 0, 0.97);
  color: white;
  width: 220px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}
.logo {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 12px 0;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.logout-container {
  margin-top: auto;
  padding-top: 20px;
}

.logout-container .btn-secondary {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  background: #ccc;
  color: #333;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.logout-container .btn-secondary:hover {
  background: #bbb;
}
.sidebar-overlay {
  display: none;
}


@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;          
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2000;
  }


  .sidebar.open {
    transform: translateX(0);
  }


  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1500;
  }
}