.topbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f9f9f9;
}

.topbar h1 {
  margin: 0;
  font-size: 50px;
  color: #333;
}

@media screen and (max-width: 480px) {
  .topbar {
    padding: 10px;
  }

  .topbar h1 {
    font-size: 24px;
  }
}


